/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/

header{ 
	background-color: $theme-color-01;


	.logo{
		text-align:center;

		img{
			@media #{$media-mobile}{
   				     width: 60%;
    				margin: 10px 0;
  			}
		}
	}

}